<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpKit" version="5.4.9" targetFramework="net45" />
  <package id="SharpKit.Html" version="5.4.9" targetFramework="net45" />
  <package id="SharpKit.JavaScript" version="5.4.7" targetFramework="net45" />
  <package id="SharpKit.jQuery" version="5.4.9" targetFramework="net45" />
  <package id="SharpKit.jQueryUI" version="5.4.9" targetFramework="net45" />
</packages>