<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net40" requireReinstallation="True" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" requireReinstallation="True" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="SharpKit" version="5.4.9" targetFramework="net45" />
  <package id="SharpKit.Html" version="5.4.9" targetFramework="net45" />
  <package id="SharpKit.JavaScript" version="5.4.7" targetFramework="net45" />
</packages>