@using angularjs
<!DOCTYPE html>
<html ng-app="@angularUtils.c_sModuleName">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <title>Гам-Гам</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link href="css/index.css" rel="stylesheet"/>
</head>
<body>
<p>Гам-Гам</p>

<!-- Cordova reference, this is added to your app when it's built. -->
<script src="cordova.js"></script>
<script src="scripts/jquery.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
<script src="scripts/angular.min.js"></script>
<script src="scripts/platformOverrides.js"></script>
<script src="scripts/gen.js"></script>
<script src="scripts/index.js"></script>

</body>
</html>