@using angularjs
@using FoodApp.Client
@using FoodApp.Common
@inherits System.Web.Mvc.WebViewPage

@{
    string foods = ajs.field((ngFavoriteController o) => o.ngFavoriteItems);
    string item = "fvFoodItem";
    string foodId = item + "." + ajs.field((ngFoodRate o) => o.FoodId);
    string foodRate = item + "." + ajs.field((ngFoodRate o) => o.Rate);
    string idx = "idx";
}

<style type="text/css">
    .food {
        background-color: #efefef;
        border: 1px solid gray;
        border-radius: 0.5em;
        float: left;
        margin: 0.1em;
        min-height: 100px;
        padding: 0.5em;
        white-space: normal;
        width: 200px;
        word-wrap: break-word;
    }
</style>

<div style="display: none;">
<h3>Ваші улюблені страви згідно минулих замовлень:</h3>
<div ng-controller="@ajs.getClass((ngFavoriteController o) => o)">
    <table>
        <tr ng-repeat="@item in @foods">
            <td>
                {{@ajs.method((ngFavoriteController o) => o.getFoodItem(null)) (@foodId).@ajs.field((ngFoodItem o) => o.Name)}}
            </td>

            <td>
                <div ng-repeat="@idx in [0.1, 0.2, 0.3, 0.4,0.5,0.6,0.7,0.8,0.9,1]" style="float: left;">

                    <div ng-class="@foodRate >= @idx ? 'glyphicon glyphicon-star': 'glyphicon glyphicon-star-empty'" style="color: orange; cursor: pointer; float: left; font-size: 2em; margin: 0.2em;"
                         ng-click="@ajs.method((ngFavoriteController o) => o.rateChanged(null, 1)) (@item,@idx)">
                    </div>

                </div>
                <div style="clear: both;"></div>
            </td>
        </tr>
    </table>


</div>
    </div>