@using angularjs
@using FoodApp.Client
@using FoodApp.Common
@inherits System.Web.Mvc.WebViewPage

@{
    string orders = ajs.field((ngHistoryController o) => o.ngItems);
    string historyItem = "historyItem";
    string foodId = historyItem + "." + ajs.field((ngHistoryEntry o) => o.FoodId);
}


<div style="display: none;">
    <div class="headerCnt">
        <div class="headerEl" id="_HistoryHeader">
            <div class="col-md-12 col-sm-12 col-xs-12 headerTitle">
                <div class="alldesc">
                    <div class="col-md-6 col-sm-6 col-xs-12 centertext">
                        <p class="all-td">How To Get In Touch</p>
                        <h2>History</h2>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 info centertext">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="features" id="_History">
        <div class="container">
            <div class="row">
                <div ng-controller="@ajs.getClass((ngHistoryController o) => o)">

                    <div ng-repeat="@historyItem in @orders">


                        <i>
                            {{@ajs.method((ngHistoryController o) => o.getFoodItem(null)) (@foodId).@ajs.field((ngFoodItem o) => o.FoodId)}}
                        </i><b>{{@historyItem .@ajs.field((ngHistoryEntry o) => o.Count)}}</b>
                        <u>{{@historyItem .@ajs.field((ngHistoryEntry o) => o.Date)}}</u>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>