@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Views/Layout1.cshtml";
}

<script type="text/javascript">
    function onLoginClick() {
        document.getElementById('loadingDiv').style.display = 'block'; 
    }
</script>

 <div class="container-fluid banner text-center" id="banner">
    <div class="row">
        <div class="col-md-12 line">
            <div class="tablebox">
                <div class="banner-text" id="bannertext">
                    <h1 class="hostyle" id="heads">Гам-Гам</h1>
                    <p class="pstyle">For DarwinsGrove</p>
                  
                    <a class="pstyle" onclick="onLoginClick()" href="LoginClick" style="color: white; cursor: pointer;">  увійти</a>
                </div>
            </div>
        </div>
    </div>
</div>

