@using angularjs
@using FoodApp.Client
@inherits System.Web.Mvc.WebViewPage

@{
    object dayOfWeek = Model;
    string orders = ajs.field((ngOrderController o) => o.ngOrders);
    string orderItem = "orderItem";
    string foodId = orderItem + "." + ajs.field((ngOrderModel o) => o.FoodId);
}


<p>
    Total: <i>
        {{@ajs.method((ngOrderController o) => o.getTotalPrice(0)) (@dayOfWeek) }}грн
    </i>
</p>

<div ng-repeat="@orderItem in @orders | orderFilter:{'day':@dayOfWeek}" style="float: left;">
    <div id="{{@orderItem .@ajs.field((ngOrderModel o) => o.FoodId)}}">
        <i>
            {{@ajs.method((ngOrderController o) => o.getFoodItem(null)) (@foodId).@ajs.field((ngFoodItem o) => o.Name)}}
        </i> 
        <b> {{@orderItem .@ajs.field((ngOrderModel o) => o.Count)}}</b>
        <div style="color: red; cursor: pointer; float: left;" ng-click="@ajs.method((ngOrderController o) => o.deleteOrder(0, null)) (@dayOfWeek,@orderItem .@ajs.field((ngOrderModel o) => o.FoodId))">
            delete
        </div>
    </div>

</div>