/*------------------------------------------/
/-----------------Header--------------------/
/------------------------------------------*/
* {
    margin: 0px;
    padding: 0px;
}

.banner {
    /*background-color: #341F48;*/
    background: -moz-linear-gradient(left, #341F48 50%, #2b193c 50%);
    background: -webkit-linear-gradient(left, #341F48 50%, #2b193c 50%);
    background: -o-linear-gradient(left, #341F48 50%, #2b193c 50%);
    background: linear-gradient(left, #341F48 50%, #2b193c 50%);
}

.banner-text {
    display: table-cell;
    vertical-align: middle;
}

.arrow {
    color: rgba(224, 224, 224, 0.75);
    display: inline-block;
    font-size: 60px;
    margin: 30px -2px 0px 0px;
    text-align: center;
}

.arrow:hover, .arrow:focus {
    color: rgba(224, 224, 224, 0.95);
    display: inline-block;
    font-size: 60px;
    margin: 30px -2px 0px 0px;
    text-align: center;
}

#heads:before, #heads:after {
    background: rgba(224, 224, 224, 0.75);
    content: '';
    left: 50%;
    position: absolute;
    width: 1px;
    z-index: 0;
}

#heads::before {
    height: calc(100%);
    opacity: 0.15;
    top: 0px;
}

.line:before {
    background: rgba(224, 224, 224, 0.75);
    content: '';
    padding-left: 0px !important;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.line::before {
    height: 1px;
    left: 0px;
    opacity: 0.15;
    top: 32px;
}

#menu:before {
    background: rgba(224, 224, 224, 0.75);
    content: '';
    position: absolute;
    width: 100%;
    z-index: 0;
}

#menu::before {
    bottom: 100px;
    height: 1px;
    opacity: 0.15;
}

.tablebox {
    display: table;
    width: 100%;
}

.hostyle {
    /*color: #c6027f;	*/
    color: #33A29D;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
}

.pstyle {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0px !important;
    text-transform: uppercase;
}

.banner-text h2 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.spanstyle {
    color: #dd068f;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.spanstyle2 { color: #000; }

.typed-cursor {
    -moz-animation: blink 0.7s infinite;
    -webkit-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    opacity: 1;
}

@keyframes blink {
    0% { opacity: 1; }

    50% { opacity: 0; }

    100% { opacity: 1; }
}

@-webkit-keyframes blink {
    0% { opacity: 1; }

    50% { opacity: 0; }

    100% { opacity: 1; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }

    50% { opacity: 0; }

    100% { opacity: 1; }
}

.menubar {
    background-color: #3EC9C3;
    border: none !important;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    z-index: 2;
}

.logo {
    color: #fff !important;
    display: inline-block;
    font-family: 'Pacifico', cursive;
    font-size: 34px !important;
    height: auto !important;
    padding: 24px 15px !important;
}

.navstyle li a {
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 24px 15px !important;
    text-transform: uppercase;
}

.navstyle li a:hover, .navstyle li a:focus, .navstyle li a.active {
    background-color: #33a29d !important;
    color: #fff;
}

.navbar-right {
    float: right !important;
    margin-right: 0px !important;
}

li.active { background-color: #33a29d !important; }

/*------------------------------------------/
/-----------------Banner--------------------/
/------------------------------------------*/















/*------------------------------------------/
/-----------------Features------------------/
/------------------------------------------*/

.features {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0px 100px;
}

.feature-icons {
    float: left;
    width: 12%;
}

.featurebox { margin-top: 60px; }

.feature-icons img { width: 100%; }

.fh-desc {
    float: right;
    width: 80%;
}

.fh-desc h3 {
    color: #242424;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px !important;
    text-transform: uppercase;
}

.fh-desc p {
    color: #888;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    margin-top: 5px;
    width: 90%;
}





/*------------------------------------------/
/-----------------Gallery-------------------/
/------------------------------------------*/

.gallery { padding: 100px 0px; }

.all-td {
    color: #242424;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0px;
    text-transform: uppercase;
}

.alldesc h2 {
    color: #CB5750;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 0px !important;
    text-transform: uppercase;
}

.desc {
    color: #888;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.sorting {
    background-color: rgba(0, 0, 0, 0.06);
    color: #3ec9c3;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 60px;
}

.sorting .active {
    background-color: #3EC9C3;
    color: #fff;
}

.filimg {
    cursor: pointer;
    padding: 10px 15px;
}

.galleryimg { margin-top: 30px; }

.mix { padding: 0px; }





#galleryimg .mix { display: none; }


.grid {
    list-style: none;
    margin: 20px auto 0px;
    max-width: 1000px;
    position: relative;
    text-align: center;
}

.grid figure {
    background: #3085a3;
    cursor: pointer;
    float: left;
    margin: 10px 1%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.grid figure img {
    display: block;
    max-width: 100%;
    min-height: 100%;
    opacity: 0.8;
    position: relative;
}

.grid figure figcaption {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #fff;
    font-size: 1.25em;
    padding: 2em;
    text-transform: uppercase;
}

.grid figure figcaption::before,
.grid figure figcaption::after { pointer-events: none; }

.grid figure figcaption,
.grid figure figcaption > a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.grid figure figcaption > a {
    font-size: 0;
    opacity: 0;
    text-indent: 200%;
    white-space: nowrap;
    z-index: 1000;
}

.grid figure h2 {
    font-weight: 300;
    word-spacing: -0.15em;
}

.grid figure h2 span { font-weight: 800; }

.grid figure h2,
.grid figure p { margin: 0; }

.grid figure p {
    font-size: 68.5%;
    letter-spacing: 1px;
}


figure.effect-Beauty { background-color: #17819c; }

figure.effect-Beauty img {
    -webkit-transform: scale(1.15);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    opacity: 0.7;
    transform: scale(1.15);
    transition: opacity 0.35s, transform 0.35s;
    width: 100%;
}

figure.effect-Beauty:hover img {
    -webkit-transform: scale(1);
    opacity: 0.5;
    transform: scale(1);
}

figure.effect-Beauty h2 {
    -webkit-transform: translate3d(0, 20px, 0);
    -webkit-transition: -webkit-transform 0.35s;
    margin-top: 20%;
    transform: translate3d(0, 20px, 0);
    transition: transform 0.35s;
}

figure.effect-Beauty p {
    -webkit-transform: translate3d(0, 20px, 0) scale(1.1);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    border: 1px solid #fff;
    margin: 1em 0 0;
    opacity: 0;
    padding: 15px;
    transform: translate3d(0, 20px, 0) scale(1.1);
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-Beauty:hover h2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-Beauty:hover p {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
}






















/*------------------------------------------/
/-----------------Note----------------------/
/------------------------------------------*/

.notes {
    background-color: #45AACB;
    padding: 100px 0px;
}

.notes p {
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
}

.notes button {
    background-color: #3EC9C3;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    padding: 12px 38px;
}

/*------------------------------------------/
/-----------------About---------------------/
/------------------------------------------*/

.about {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 100px 0px;
}

.progresscount { margin-top: 60px; }

.progress-style {
    background-color: rgba(0, 0, 0, 0.06) !important;
    border-radius: 10px !important;
    box-shadow: none !important;
}

.progress-bar { background-color: #45AACB !important; }

.counter-item h5 {
    font-family: 'Raleway', sans-serif;
    margin: 0px !important;
}

.timer {
    color: #45aacb;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.block { padding-left: 0px !important; }

.progresstitle h5 {
    font-family: 'Raleway', sans-serif;
    margin: 0px 0px 10px !important;
}




/*------------------------------------------/
/-----------------Team----------------------/
/------------------------------------------*/









/*------------------------------------------/
/-----------------Testimonial---------------/
/------------------------------------------*/

.testimonials { padding: 100px 0px; }

.quotes {
    color: #888;
    font-family: "Source Sans Pro", sans-serif;
    margin-top: 60px;
}

.quotes blockquote { margin-bottom: 0px !important; }

.name {
    color: #242424;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    text-align: right;
}






/*------------------------------------------/
/-----------------Subscribe------------------/
/------------------------------------------*/

.subscribe-social {
    background-color: #CB5750;
    padding: 20px 0px 5px;
}

.form-group { margin-bottom: 0px !important; }

.form-control, .form-control:focus {
    background-color: #CB5750 !important;
    border: 1px solid #fff !important;
    box-shadow: none !important;
    color: #fff !important;
}

.social {
    display: inline-block;
    list-style: none;
}

.social li {
    display: inline-block;
    margin: 0px 5px;
}

.social li a {
    color: #fff;
    font-size: 35px;
    line-height: 0px !important;
}


.address {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 60px 0px;
}

.info p {
    color: #888;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.btn-or {
    background-color: #fff !important;
    border: 1px solid #fff !important;
    color: #CB5750 !important;
}

.form-control::-webkit-input-placeholder { color: white !important; }

.form-control:-moz-placeholder { color: white !important; }

.form-control::-moz-placeholder { color: white !important; }

.form-control:-ms-input-placeholder { color: white !important; }

/*------------------------------------------/
/-----------------Footer--------------------/
/------------------------------------------*/

.foot { padding: 50px 0px 30px; }

.foot-logo {
    color: #3EC9C3;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    text-align: center;
}

.foot-text {
    color: #888;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 20px 0px;
    text-transform: uppercase;
}

.foot-text a { color: #3EC9C3; }





@media (min-width: 200px) and (max-width: 767px) {
    .navstyle { width: 100% !important; }

    .navstyle li a {
        display: block;
        padding: 10px 15px !important;
        text-align: center;
    }

    .notes button { margin-top: 20px; }

    .centertext { text-align: center; }

    .btn-or {
        display: inline-block;
        margin-top: 20px;
    }

    .social { margin-top: 10px; }

    .menu-button {

        color: #fff;
        font-size: 30px !important;
        margin-top: 9px !important;
        padding: 8px 10px !important;
    }

    figure.effect-Beauty h2 {
        font-size: 16px;
        margin-top: 15%;
    }

    figure.effect-Beauty p {
        display: none;
        padding: 6px;
    }

    .features, .about, .notes, .testimonials, .address, .gallery { padding: 40px 0px; }
}

@media (min-width: 768px) and (max-width: 990px) {
    .social { margin-top: 10px; }

    .notes button {
        font-size: 13px;
        padding: 14px 19px;
    }
}

@media (min-width: 100px) and (max-width: 350px) {
    .sorting { font-size: 10px; }
}

.headerCnt { height: 8em; }

.headerCnt .headerEl {
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    height: 8em;
    padding-top: 1.1em;
    width: 100%;
    z-index: 999;
}

.headerCnt .headerTitle { padding-left: 17%; }

.foodItem {
    border: 1px solid transparent;
    cursor: pointer;
    float: left !important;
    width: 20% !important;
}

.foodItem:hover { }

.loadingDiv {
    background-color: transparent;
    background-image: url("../images/loading.gif");
    display: none;
    height: 128px;
    left: 48%;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 48%;
    width: 120px;
    z-index: 100;
}

.foodBtn { padding: 0.2em 0.4em !important;font-size: 1em!important; }

.bottomBorder {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    min-height: 100px;
}

.leftIcon {
    background-color: #cb5750;
    opacity: 0.3;
    width: 0.5em;
}

.orderedFoodItem .leftIcon {
    background-color: #cb5750;
    opacity: 1;
}

.foodButtonIsOrdered {
    background-color: #cb5750 !important;
    cursor: none;
}